# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
app/node_modules/

# Expo
app/.expo/
app/dist/
app/web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
app/.metro-health-check*

# debug
app/npm-debug.*
app/yarn-debug.*
app/yarn-error.*

# macOS
app/.DS_Store
*.pem

# local env files
app/.env*.local

# typescript
app/*.tsbuildinfo
